body{
    margin: 0;
}

main{
    background-color: rgb(188, 226, 214);
    width:1024px;
    min-height: 100vh;
    border: 2px black solid;
    margin: auto;
}
.profile{
    height: 191px;
    width: 191px;
    border-radius: 20%;
    position: relative;
}
.notic{
    background-color: beige;
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(400%, 400%);
    border-radius: 50%;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.head{
    display: flex;
    justify-content: center;
    text-align: center;
}
h1{
    text-align: center;
}
.username{
    display: flex;
    justify-content: center;
}
.image{
    display: flex;
    justify-content: center;
}

.grid{
    background-color: black;
    height: 100%;
    width: 100%;
}

.grid1{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 16px;
    width: 1000px;
    height: 900px;
    justify-content: center;
    margin-top: 15px;
}

.aa{
    grid-column: span 3/span 3;
}
.profile{
    background-image: url(1.jpg);
}
h1:hover{
    color: rgb(43, 107, 226);
    transition-duration: 1s;
}
.a{
    background-image: url(2.jpg);
}
.b{
    background-image: url(4.jpg);
}
.c{
    background-image: url(5.jpg);
}
.d{
    background-image: url(7.jpg);
}
.e{
    background-image: url(6.jpg);
}
.f{
    background-image: url(8.jpg);
}
.g{
    background-image: url(10.jpg);
}
.h{
    background-image: url(11.jpg);
}
.i{
    background-image: url(12.jpg);
}
.aa{
    background-image: url(3.jpg);
}

.jjjj {
    color: black;
    text-decoration: none;
}


.jjjj:hover{
    color: blue;
    text-decoration: underline;
}